{% extends "rango/base.html" %}

{% load i18n %}

{% load staticfiles %}

{% block title %}Change Password{% endblock %}

{% block body_block %}
<form class="form-password" role="form" action="" method="post" action=".">
{% csrf_token %}

<h2 class="form-signin-heading">Change Password</h2>

<div class="form-group" >
 <p class="required"> <label for="id_username">Current Password Is:  {{ form.old_password.errors }}</label>
     <input class="form-control"  id="id_old_password" maxlength="20" name="old_password" type="password"  placeholder="Current password"/>
     </p>
</div>

<div class="form-group" >
<p class="required"><label for="id_new_password1">New Password Is:  {{ form.new_password1.errors }}</label>
<input class="form-control" id="id_new_password1" maxlength="20" name="new_password1" type="password" placeholder="New password" />
</p>
<div>

<div class="form-group">
<p class="required"><label for="id_new_password2">Confirm Your New Password:  {{ form.new_password2.errors }}</label>
<input class="form-control" id="id_new_password2" maxlength="20" name="new_password2" type="password" placeholder="Repeat new password" />
</p>
</div>
<button type="submit" class="btn btn-default">Change Your Password</button>
</form>

{% endblock %}
